<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dean</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body> 
	<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">CIIS</a>
    </div>
    <ul class="nav navbar-nav navbar-left navbar-dark bg-dark">
      <li class="active"><a href="/d_index">Home</a></li>
      <li><a href="/d_alldata">Course list</a></li>
      <li><a href="/d_reg">Add Course</a></li>
      <li><a href="/d_alldata">Edit Course</a></li>
      <li><a href="/d_secretsgen">Secret Code Generator</a></li>
      <li><a href="/d_marksheet">Marksheet</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>

 
<div class="container">
  <h2>Welcome Dean</h2>
  <div class="row"></div>

  <div class="col-sm-4 panel panel-default panel-body">

   As per rules and regulations , You are only authorized to add / edit /delete Courses and assign Teacher of CVASU in this CIIS portal . This software is designed such a way that you have to create courses and assign Teacher first. Only then Teacher can login their courses and put marks in courses respectively ! 
     </div>

</div>

</body>
</html>