<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Student Registration Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">CIIS</a>
    </div>
    <ul class="nav navbar-nav navbar-left navbar-dark bg-dark">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/r_alldata">Student list</a></li>
      <li><a href="/r_reg">Add student</a></li>
      <li><a href="/r_alldata">Edit Student</a></li>
      <li><a href="/r_reg_teacher">Add Teacher</a></li>
      <li><a href="/r_alldata_teacher">Edit Teacher</a></li>
      <li><a href="/r_alldata_teacher">Teacher list</a></li>
    </ul>
  </div>
</nav>
	<div class="jumbotron text-center">
		<h1>CVASU Teacher Registration</h1>
	</div>
<form action = "/r_alldata_teacher" method = "POST"  enctype = "multipart/form-data">
	 	<div class="container">
	 		<div class="row">
	 			<div class="col-sm-4"></div>
	 			<div class="col-sm-4"><strong>Name</strong> <br>
	 			<input type="text" name="name" placeholder="Teacher name" size="50">
	 			</div>
	 		</div>
	 	    <br>
	 	    	<div class="row">
	 			<div class="col-sm-4"></div>
	 			<div class="col-sm-4"><strong>Photo</strong> <br>
	 			<input type="file" name="file">
	 			</div>
	 		</div>
	 	    
              <br>
        	<div class="row">
	 			<div class="col-sm-4"></div>
	 			<div class="col-sm-4"><strong>Mobile</strong> <br>
	 			<input type="text" name="mobile" placeholder="Teacher mobile" size="50">
	 			</div>
	 		</div>
	 		  <br>
        	<div class="row">
	 			<div class="col-sm-4"></div>
	 			<div class="col-sm-4"><strong>Email</strong> <br>
	 			<input type="email" name="email" placeholder="Teacher email" size="50">
	 			</div>
	 		</div>
	 		<br>
	 			<div class="row">
	 			<div class="col-sm-4"></div>
	 			<div class="col-sm-4"><strong>Department</strong> <br>
	 			<input type="text" name="department" placeholder="Teacher department" size="50">
	 			</div>
	 		</div>
	 			<br>
	 			<div class="row">
	 			<div class="col-sm-4"></div>
	 			<div class="col-sm-4"><strong>Faculty</strong><br>
	 			<input type="text" name="faculty" placeholder="Teacher Faculty" size="50">
	 			</div>
	 		</div>
	 			<br>
	 			<div class="row">
	 			<div class="col-sm-4"></div>
	 			<div class="col-sm-4"><strong>NID</strong><br>
	 			<input type="text" name="nid" placeholder="Teacher nid" size="50">
	 			</div>
	 		</div>
	 			<br>
	 			<div class="row">
	 			<div class="col-sm-4"></div>
	 			<div class="col-sm-4"><strong>Address</strong><br>
	 			<textarea name="address" id="saddress" cols="45" rows="7" placeholder="student address"></textarea>
	 			</div>
	 		</div>
	 		
            <br>
	 			<div class="row">
	 			<div class="col-sm-4"></div>
	 			<div class="col-sm-4">
	 		<button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
	 			</div>
	 		</div>
            <br>
            <br>


	 	</div>
	 </form>
</body>
</html>