<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body> 
	<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">CIIS</a>
    </div>
    <ul class="nav navbar-nav navbar-left navbar-dark bg-dark">
      <li class="active"><a href="/t_index">Home</a></li>
      <li><a href="/t_universal/internal">Internal</a></li>
      <li><a href="/t_universal/external">External</a></li>
      <li><a href="/t_universal/tabulator">Tabulator</a></li>
      <li><a href="/t_universal/scrutinizer">Scrutinizer</a></li>
      <li><a href="/t_universal/decoder">Decoder</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
<form action = "/t_universal_insert/{{coursecode}}/{{role}}" method = "POST"  enctype = "multipart/form-data">
 
      <br>
      <br>
     <div class="container col-sm-4">
      <table class="table table-bordered" >
        <tr>
         
          <th>Secret Code</th>
          <th>Final Exam Mark </th>
          
        </tr>

        {% for result in lll %}
        
            <tr>
           

              <th>{{result}}</th>
              <th><input type="text" name="{{result}}"></th>
              
    
       
            </tr>
          
         
         {% endfor %}
      </table>
      <input type="hidden" name="role" value="{{role}}">
      <input type="hidden" name="coursecode" value="{{coursecode}}">
      
    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
</div>
</form>
</body>
</html>